body {
    font-family: Arial, sans-serif;

    padding: 20px;
}

label {
    font-weight: bold;
}

 

#kkkk {
    text-align: center;
    background-color: rgb(92, 121, 146);
    width: 42%;
    margin-left: 30%;
    color: white;
    margin-bottom: 3%;
    border-radius: 15px;
    padding-bottom: 1%;
    padding-top: 1%;


}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

#formulario {
    background-color: #f2f2f2;
    padding-right: 3%;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#todos {
    margin-top: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h5,
p,
h4 {
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h5 {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

p {
    margin-bottom: 5px;
}

h4 {
    font-size: 16px;
}
#butao{
    background-color: rgb(92, 121, 146);
}

button.deleteButton {
    background-color: #f44336;
    margin-right: 5px;
}