<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu animado - SatellaSoft</title>

    <link rel="preload" href="testeheader.css" as="style">
    <link rel="preload" href="../assets/js/menu.js" as="script">

<link rel="stylesheet" href="testeheader.css">
</head>

<body>

    <header>
        <img src="../assets/images/Captura de Tela 2023-06-05 às 11.16.52.png" alt="Clique para abrir ou fechar o menu" id="btnMenu" width="64px">
    </header>

    <div class="content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque eius fugit nesciunt ad? Sint aperiam velit
            esse sapiente soluta, non enim ea maiores a, quis quo? Deleniti eos earum ducimus.</p>
    </div>

    <div id="menu" class="menu effect">
        <nav>
            <div style="text-align: right;">
                <button id="btnClose">X</button>
            </div>
            <ul>
                <li><a href="#">Frutas</a></li>
                <li><a href="#">Link aqui</a></li>
                <li><a href="#">Link aqui</a></li>
                <li><a href="#">Link aqui</a></li>
                <li><a href="#">Link aqui</a></li>
                <li><a href="#">Link aqui</a></li>
            </ul>
        </nav>
    </div>

    <script src="../assets/js/menu.js"></script>
</body>

</html>
